.pagination {
    @apply mt-16;
    > ul {
        @apply flex justify-center;
        li {
            @apply inline-flex px-2;
            a {
                @apply text-base text-center rounded-full;
                min-width: 28px;
                height: 28px;
                line-height: 28px;
                &:hover {
                    @apply text-cerulean;
                }
            }
            &.active {
                a {
                    @apply bg-cerulean text-white;
                }
            }
        }
    }
}