@layer base {
    body {
        @apply font-nunito;
        @apply text-blackcoral text-base;
        @screen lg {
            @apply text-lg;
        }
        @screen xl {
            @apply text-xl;
        }
    }
    h1 {
        @apply text-2xl;
    }
    h2 {
        @apply text-xl;
    }
}