.footer-widgets {
    .widget-title {
        @apply uppercase font-bold mb-4;
        @screen md {
            @apply mb-8;
        }
    }
    .widget_nav_menu{
        .menu {
            li {
                @apply py-1;
                a {
                    &:hover {
                        @apply text-cerulean;
                    }
                }
            }
        }
    }
}