.site-header {
    @apply py-2 px-4;
    @apply sticky w-full top-0;
    @apply bg-white;
    z-index: 99;
    > .wrap {
        @apply flex justify-between items-center mx-auto;
        @screen sm {
            max-width: theme('screens.sm');
        }
        @screen md {
            max-width: theme('screens.md');
        }
        @screen lg {
            max-width: theme('screens.lg');
        }
        @screen xl {
            max-width: theme('screens.xl');
        }
    }
    .site-description {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        position: absolute !important;
        width: 1px;
        word-wrap: normal !important;
    }
    .header-logo {
        @apply flex;
        + .site-title {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            position: absolute !important;
            width: 1px;
            word-wrap: normal !important;
        }
    }
    .header-logo--img {
        @apply m-0;
        width: auto;
        max-height: 42px;
    }
    .menu {
        margin: 0;
        list-style: none;
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            &::before {
                display: none;
            }
        }
        a {
            @apply font-semibold;
        }
    }
    .nav-primary {
        @apply hidden;
        .menu {
            @apply flex;
            li {
                @apply px-4;
            }
            a {
                @apply text-blackcoral no-underline transition;
                &:hover {
                    @apply text-cerulean;
                }
            }
            > li {
                > a {
                    @apply leading-loose;
                }
            }
            .sub-menu {
                @apply hidden absolute bg-white shadow-lg py-2 transition-all;
                > li {
                    @apply p-0;
                    > a {
                        @apply block py-2 px-4;
                    }
                }
            }
            .menu-item-has-children {
                &:hover {
                    > .sub-menu {
                        @apply block;
                    }
                }
            }
        }
    }
    .header-button {
        @apply hidden;
        .menu {
            a {
                @apply inline-block py-3 px-8 rounded-full bg-cerulean border-2 border-transparent transition;
                @apply text-white leading-none no-underline;
                &:hover {
                    @apply shadow-lg bg-crayola;
                }
            }
        }
    }
    .onja-menu-toggle {
        color: inherit;
    }
    &.dark, &.transparent {
        .onja-menu-toggle {
            color: white;
        }
        .nav-primary {
            .menu {
                a {
                    @apply text-white;
                    &:hover {
                        @apply text-cerulean;
                    }
                }
                .sub-menu {
                    a {
                        @apply text-grayweb;
                        &:hover {
                            @apply text-cerulean;
                        }
                    }
                }
            }
        }
        .header-button {
            .menu {
                a {
                    @apply border-white bg-transparent;
                    &:hover {
                        @apply shadow-none bg-cerulean border-cerulean;
                    }
                }
            }
        }
    }
    &.dark {
        @apply bg-gunmetal;
    }
    &.transparent {
        @apply fixed bg-black bg-opacity-60;
    }
    @screen lg {
        @apply px-6;
        .nav-primary {
            @apply block;
            .menu {
                li {
                    @apply px-6;
                }
                .sub-menu {
                    > li {
                        > a {
                            @apply px-6;
                        }
                    }
                }
            }
        }
        .header-button {
            @apply block;
        }
    }
    @screen xl {
        @apply py-4 px-8;
    }
}

.nav-primary {
    &.mm-menu {
        @apply bg-white;
        .mm-listitem__text {
            padding-top: 1.125rem;
            padding-bottom: 1.125rem;
        }
    }
    .mm-panels, .mm-panel {
        @apply bg-white;
    }
    .mm-navbar {
        min-height: 58px;
        @apply bg-white;
        border-width: 2px;
    }
    @screen lg {
        .hide-desktop {
            @apply hidden;
        }
    }
}
