.single {
    .site-inner {
        @apply bg-aliceblue py-6;
        @screen lg {
            @apply py-12;
        }
        @screen xl {
            @apply py-20;
        }
    }
    .content {
        @apply mx-auto mb-8;
        @screen md {
            @apply px-6;
            max-width: 65ch;
        }
        @screen lg {
            @apply mb-16 max-w-screen-lg;
        }
    }
    .entry {
        @apply bg-white rounded-md overflow-hidden;
        @screen md {
            @apply rounded-lg;
        }
        @screen xl {
            @apply rounded-xl;
        }
        .post-featured-image {
            img {
                @apply mt-0 mb-0;
            }
        }
        .entry-header {
            @apply px-4 my-8;
            @screen md {
                @apply px-8 flex flex-wrap;
            }
            @screen lg {
                @apply px-12;
            }
            .entry-title {
                @apply text-2xl font-extrabold mb-4;
                @screen md {
                    @apply flex-1 pr-8;
                }
                @screen lg {
                    @apply text-4xl;
                }
            }
            .entry-meta {
                @apply my-4;
                @screen md {
                    @apply flex-none text-right my-0;
                }
                .entry-time {
                    @apply text-beaublue font-extrabold text-xl;
                }
            }
            .entry-share {
                @apply w-full;
            }
        }
        .entry-content {
            @apply px-4;
            @screen md {
                @apply px-8;
            }
            @screen lg {
                @apply px-12;
            }
        }
        .entry-footer {
            .entry-meta {
                @apply px-4 mt-10 mb-5;
                @screen md {
                    @apply px-8;
                }
                @screen lg {
                    @apply px-12 mt-12 mb-8;
                }
                a {
                    @apply text-gunmetal font-semibold no-underline;
                    &:hover {
                        @apply underline text-cerulean;
                    }
                }
            }
            .pagination {
                @apply mt-0 px-4 py-6 flex justify-between border-t border-beaublue;
                @screen md {
                    @apply px-8 py-8;
                }
                @screen lg {
                    @apply px-12;
                }
                a {
                    @apply inline-block rounded-full border border-beaublue text-blackcoral no-underline leading-tight py-2 px-6;
                    &:hover {
                        @apply border-crayola text-white bg-crayola no-underline;
                    }
                }
            }
        }
    }
}

.comment-respond {
    @apply mt-6 px-4 text-grayweb text-base;
    .required {
        @apply text-red-500;
    }
    .comment-reply-title {
        @apply text-xl font-semibold text-gunmetal mb-5;
    }
    .comment-form {
        p {
            margin-top: 1.25em;
            margin-bottom: 1.25em;
        }
        label {
            @apply block mb-1;
        }
        input[type="text"], input[type="email"], input[type="url"], textarea {
            @apply w-full py-3 px-4 bg-white rounded-md border border-beaublue;
            max-width: 65ch;
        }
        .submit {
            @apply bg-cerulean uppercase py-3 px-8 rounded-full text-white;
            &:hover {
                @apply bg-crayola;
            }
        }
    }
    @screen md {
        @apply mt-10 px-10;
        input[type="text"], input[type="email"], input[type="url"], textarea {
            @apply px-6;
        }
    }
    @screen lg {
        @apply mt-12;
        .comment-reply-title {
            @apply text-2xl;
        }
    }
}