.onja_popup.onja_popup--donation{
    @apply py-8 px-4;
    @screen md {
        @apply p-12;
    }
}
.onjaDonation {
    .donationRow {
        @apply flex;
        &.donationRow--monthly {
            @apply items-center;
            .label-give-once {
                @apply text-base inline-flex uppercase leading-normal mr-1;
            }
            .MuiFormControlLabel-root {
                margin: 0;
            }
        }
        &.donationRow--currency {
            @apply mt-5;
        }
    }
    .donationField {
        @apply mx-0 w-full items-start;
    }
    .MuiInputBase-input {
        @apply font-nunito;
    }
    .MuiTypography-body1 {
        @apply font-nunito uppercase text-left;
    }
    .MuiOutlinedInput-input {
        @apply p-4;
    }
    .MuiOutlinedInput-notchedOutline {
        @apply border-gray-400;
    }
    .currencySelect {
        @apply flex flex-wrap items-center;
    }
    .currencySelect__label {
        @apply text-base w-full mb-2;
    }
    .currencySelect__control {
        @apply w-full;
        .MuiFormControl-root {
            .MuiOutlinedInput-root {
                @apply rounded-none;
            }
            .MuiSelect-outlined {
                @apply rounded-none;
            }
            &:first-child {
                .MuiOutlinedInput-root {
                    @apply rounded-l;
                }
                .MuiSelect-outlined {
                    @apply rounded-l;
                }
            }
            &:last-child {
                .MuiOutlinedInput-root {
                    @apply rounded-r;
                    margin-left: -1px;
                }
            }
        }
    }
    .donationBody {
        @apply border-t border-beaublue p-4 mt-6 -mx-4;
        .formTitle {
            @apply text-lg font-bold mb-6;
        }
    }
    .donationPage {
        @apply text-left mb-4;
        .donationRow {
            @apply flex-wrap;
        }
        .MuiFormControlLabel-label {
            @apply text-sm font-semibold uppercase leading-none mb-2;
        }
        .checkout {
            @apply text-center;
        }
    }
    .donationRow--subscribe,
    .donationRecurring {
        .MuiFormControlLabel-root {
            @apply items-start ml-0;
            .MuiCheckbox-root {
                @apply pl-0 pt-0;
                &.Mui-checked {
                    @apply pl-0 pt-0;
                }
            }
        }
        .MuiFormControlLabel-label {
            @apply mb-0 normal-case leading-normal text-base font-normal;
        }
    }
    .btn {
        @apply bg-cerulean text-white uppercase rounded-full tracking-wide leading-none py-4 px-7 transition;
        &.btn--blue {
            @apply bg-cerulean;
            &:hover {
                @apply bg-crayola;
            }
        }
        &.btn--green {
            @apply bg-green-500;
            &:hover {
                @apply bg-green-400;
            }
        }
    }
    @screen md {
        .currencySelect__label {
            @apply text-lg w-auto mb-0 mr-4;
        }
        .currencySelect__control {
            @apply w-auto;
        }
        .donationBody {
            @apply p-12 pb-4 -mx-12 mt-12;
            .formTitle {
                @apply text-xl mb-8;
            }
        }
        .donationPage {
            .donationRow {
                @apply flex-no-wrap;
            }
        }
        .btn {
            @apply py-5 px-10;
        }
    }
}
.MuiTooltip-popper {
    z-index: 99999!important;
}
.stripeCard {
    @apply px-4 py-5 mb-8 border border-gray-300 rounded-md;
}
#card-errors {
    @apply mb-5 text-red-600;
}