.onja_popup {
    @apply hidden rounded-lg p-4;
    @screen md {
        @apply p-10;
    }
    &.onja_popup--newsletter {
        @apply p-0 overflow-hidden rounded-xl;
        max-width: 570px;
        .fancybox-button {
            color: white;
            width: 64px;
            height: 64px;
        }
        .onja_popup__content {
            @apply p-5;
        }
        .nf-form-fields-required {
            @apply hidden;
        }
        input[type="text"], input[type="email"] {
            @apply border-aliceblue border rounded-md py-2 px-4;
        }
        input[type="button"] {
            @apply rounded-full bg-cerulean text-center text-white uppercase py-2 px-8;
            &:hover {
                @apply bg-crayola;
            }
        }
        .nf-form-hp {
            position: absolute;
            visibility: hidden;
        }
        #nf-label-field-17-0 {
            @apply text-base font-normal;
        }
        .nf-error-msg {
            @apply text-sm leading-tight;
        }
        .nf-error-field-errors {
            @apply hidden;
        }
        .nf-response-msg {
            @apply text-center;
        }
        @screen md {
            .onja_popup__content {
                @apply p-8;
            }
            input[type="text"], input[type="email"] {
                @apply py-3 px-6;
            }
            input[type="button"] {
               @apply text-lg py-3;
            }
        }
    }
}