.icon-box-wrap {
    @apply relative bg-cerulean;
    &::before {
        content: '';
        @apply bg-contain bg-center bg-no-repeat absolute left-0 top-0 right-0 bottom-0 w-full h-full opacity-10;
        background-image: url('../../images/icon-logo.svg');
        z-index: 1;
    }
}
.icon-box {
    z-index: 2;
}