.single-student {
    .entry-content {
        @apply pb-4;
        @screen md {
            @apply pb-6;
        }
    }
    .studentHeader {
        .entry-title {
            @apply mb-0;
        }
        .studentHeader__image {
            img {
                @apply rounded-2xl m-0;
                @screen lg {
                    @apply m-0;
                }
            }
        }
        .studentHeader__info {
            position: relative;
            @media (min-width: 1024px) {
                &:before {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 300px;
                    height: 300px;
                    background-image: url('../../images/icon-logo-grey.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center center;
                    opacity: 0.3;
                }
            }
        }
    }
}

