.supporter-list {
    .textlink {
        @apply text-white text-sm;
        p {
            @apply m-0 text-sm leading-normal;
            br {
                @apply hidden;
            }
        }
        a {
            @apply block text-white text-sm;
            &:hover {
                @apply underline;
            }
        }
    }
}